#ide config
.idea
.vscode

#runtime
__pycache__
.DS_Store

# models
*.ckpt
*.safetensors
*.pth
*.pt
*.bin
*.patch
*.backup
*.corrupted

# environment
venv
.venv
.env
.conda
conda

# log files
*.log
logs
log

# config files
.cog
config.txt
config_modification_tutorial.txt
user_path_config.txt
user_path_config-deprecated.txt
hash_cache.txt

sorted_styles.json
/presets

# db
*.db

# cache
outputs

#other
*.http
hash_cache.txt